.my_bg_black{
    background-color: #2c3e50;
}
.my_bg{
    background-color: #1bbc9b;
}
.my_bg_foot{
    background-color: #3a546d;
}
.my_green_txt{
    color: #1bbc9b;
}
.my_icon{
    width: 38px;
}
.pers_height{
    height: 4px;
}